{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} SQLi {% endblock %}</h1>

    <p>SQL-инъекциями называют атаки, позволяющие злоумышленнику производить различные несанкционированные действия над базой данных. В качестве входных данных передаются специальные строки, содержащие вредоносные команды. Приложение, уязвимое к SQL-инъекциям, производит вставку этих строк в шаблон запроса без проведения необходимых проверок. В результате формируется запрос, выполняющий действия, определённые злоумышленником.</p>
    <p>Пример: ' OR 1=1;--</p> 
   
    <form method="POST" action="">
        <p>Случайная авторизация: </p>
        Username <input type="text" name="user" /> <br>
        <br>Password <input type="password" name="pass" /> <br>
        <br><input type="submit" class="btn btn-primary btn-block btn-lg">
    </form>
{% endblock %}